body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;
}

.game-container {
    width: 600px;
    height: 600px;
    border: 5px solid red;
    position: relative;
}

.snake {
    width: 20px;
    height: 20px;
    background-color: orange;
    position: absolute;
}

.food {
    width: 20px;
    height: 20px;
    background-color: yellow;
    position: absolute;
}
